header {
  margin: 0 auto;
  padding: 20px;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #918f8f;
}
header #logo {
  font-size: 30px;
  font-weight: bold;
}

header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: rgb(46, 43, 43);
}
header nav ul li a:hover {
  color: rgb(202, 148, 12);
}
